* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, serif;
    line-height: 1.6;
    background-color: #ebb6b6;
    color: #333;
}

header {
    background: #740303;
    color: #fcf22e;
    padding-top: 10px;
    min-height: 50px;
    border-bottom: #740303 3px solid;
}

header a {
    color: #ebb6b6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header h1 {
    text-align: center;
    width: 100%;
    margin: 0;
}

.product-container {
    display: flex;
    gap: 50px; /* Creates 50px space between the image and text */
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
    background-color: #ebb6b6;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
    width: 300px;
    border-radius: 8px;
    margin-left: 400px;
}

.product-details {
    max-width: 600px;
    margin-left: 50px;
}

.product-details p {
    margin-bottom: 20px;
}

.price {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.buy-now {
    background-color: #740303;
    color: #fcf22e;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #740303;
    color: #fcf22e;
    margin-top: 20px;
    border-top: #740303 3px solid;
}
